/*for all layouts and views*/
.container-page-content {
    padding: 15px;
}

.primary-color {
    background-color: #2260DD;
    color: whitesmoke;
}

.secondary-color {
    background-color: #4E80E4;
    color: whitesmoke;
}

.invert-colors a:hover {
    background-color: whitesmoke;
    color: #4E80E4;
}

/*for the visualizations section*/
.container-visualization-layout {
    padding: 10px;
/*     background-color: gray; */
}

.card-visualization-layout {
/*     padding: 10px; */
    margin-bottom: 15px;
}

.card-modal-btn {
    padding: 0px;
    margin: 0px;
}

.tableau-visualizations {
    margin: 10px;
    padding: 5px;
}

/* @media screen and (max-width: 700px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .wrapper div:first-child {
        order: 0; */
/*         width: 100%; */
/*     }
} */

/*for the about us section*/
/* .container-about-us-layout {
    padding: 10px;
    background-color: gray;
    margin: 15px;
} */

/*for the our journey section*/
/* .container-our-journey-layout {
    padding: 10px;
    background-color: gray;
    margin: 15px;
} */

.img-resizing {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.active-tab-our-journey {
    color: #2260DD;
    background-color: #4E80E4;
    box-shadow: 0 0 10px whitesmoke;
    padding-bottom: 1px;
}

.tab-label-our-journey {
    color: whitesmoke;
}

.tab-our-journey a:hover {
    color: whitesmoke;
    background-color: #4E80E4;
}